<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
	<title>DashboardWOW</title>

<h1>dashboard</h1>
<div>
    ID: <%= current_user.id %> <br />

    <div class="rawencryptedjson">
        <!-- <%= current_user.data %> <br /> -->
        <!-- <%= @data %> <br /> -->
    </div>
</div>

<div class="upload">
    <input type="file" id="uploadFile">
</div>

<br />
<div>
    <h3>Upload Preview</h3>
    <p id="uploadPreview"></p>
</div>
