<html>
    <head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <title>DashboardWOW</title>

        <h1>dashboard</h1>
        <div>
            <div>
                <!-- 393a66275c5c2d4c6c49373259 -->
                <div>
                    <input type="password" placeholder="Enter decryption password" id="userkey"/>
                </div>
                <div>
                    <input type="button" value="Decrypt" id="decryptButton"/>
                </div>
            </div>
        </div>
        <div>
            <div style="width: 75%">
                <canvas id="canvas"></canvas>
            </div>
        </div>
        <div>
            <div>
                <input type="number" step="100" placeholder="Principal" id="principal"/>
                <input type="number" step="0.1" placeholder="Interest Rate" id="interest_rate" />
                <input type="number" step="0.1" placeholder="Compounds per year" id="compounds_per_year" />
                <input type="number" step="1.0" placeholder="Years" id="years" />
                <input type="date" placeholder="Final Payoff Date" id="terminal_date" />
            </div>

        </div>
<br />
<br />
<br />
<br />

        <div class="upload">
            <input type="file" id="uploadFile">
        </div>
        <br/>
        <div>
            <h3>Upload Preview</h3>
            <p id="uploadPreview"></p>
            <input type="button" value="Upload to Server" id="encryptAndUploadToServer"/>
        </div>
