<div>
    <div id="makeMarginSpace">

    </div>

    <div class="container">
        <div class="background">
            <div id="usernameDisplay">Enter decryption password for <span id="welcomeUserName"><%= current_user.email %></span></div>
            <br />
            <div class="embed-submit-field">
                <input type="password" placeholder="Decryption password" id="userkey"/>
                <%= link_to "Decrypt", dashboard_path, :class => 'btn', :id => 'decryptButton' %>
            </div>
        </div>
    </div>

</div>
