<div>
    <div>
        <input type="password" placeholder="Enter decryption password" id="userkey" size="50"/>
    </div>
    <div>
        <a href="/dashboard"><input type="button" value="Decrypt" id="decryptButton" href="/dashboard"/></a>
    </div>
</div>
