/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

.col-centered {
    float: none;
    margin: 0 auto;
}

body {
    background-color: #EFF8FA;
}

@media only screen and (max-width: 775px) {
    #WelcomeUser {
        display: none;
    }
}

#WelcomeUser {
    float: right;
    color: white;
    font-size: 1.2em;
    text-align: center;
    margin-top: 1.3em;
}

#welcomeUserName {
    color: #DBFFFD;
}

#modalbutton {
    float: right;
    margin: 1em;
}

#passwordWarning {
    color: red;
}

.snapshot_box {
    margin: 5px;
    width: 80%;
    min-height: 60px;
    border: solid #e5e5e5 1px;
    border-radius: 8px;
    background-color: white;
    text-align: center;
}

.snapshot_numbers {
    font-weight: bold;
    font-size: 16px;
    margin-top: 8px;
}

#chart_holder {
    width: 90%;
}

.input_item {
    width: 70%;
    margin-bottom: 20px;
}

.form-list {
    margin-top: 2em;
}

.navbar-default {
    background-color: #535658;
    color: #ff0000;
}

li.navbar-text a {
    color: white;
    border-radius: 6px;
    font-size: 1.2em;
}

li.navbar-text> a:hover, li.navbar-text> a:focus {
    background-color: #2bc0b3;
}

#encryptAndUploadToServer, #modalbutton {
    background-color: #2bc0b3;
    border-color: #2bc0b3;
}
