.overlay {
    margin-top: -20px;
    background-size: 100% 100%;
    background-position: fixed;
    opacity: 0.8;
    z-index: 0;
}

.previewTextParent {
    padding-top: -20px;
}

.landingPageSVG {
    float:left;
    margin-right: 10px;
}
.landingPageMotivation {
    color: black;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 20%;
    border-radius: 7px;
    background-color: white;
    margin: 10px;
}

#makeHeaderSpace {
    padding-top: 50px;
}

#makeMiddleSpace {
    padding-top: 250px;
}

#appOverview {
    margin-top: 100px;
}

.boxtitle {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: black;
    background-color: white;
    box-shadow: 0 5px 20px darkgray;
    border-radius: 5px;
    margin-top: 20px;
}

.statbox {
    position: relative;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 5px 20px darkgray;
    overflow: hidden;
}

.debtlist {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#statssection {
    padding-top: 10px;
    background: rgba(200, 200, 200, .25);
}

#debtMapContainer {
    margin-bottom: 20px;
}

.debtMapImage {
    box-shadow: 0 5px 20px darkgray;
}

.appPreviewImage {
    float: right;
    margin: 10px;
    box-shadow: 0px 0px 20px black;
    border-radius: 5px;
}

.row {
    box-sizing: border-box;
}

.calltoactionparent {
    position: relative;
    background-color: #1b4ea0;
    min-height: 300px;
    color: white;
    font-size: 34px;
    text-align: center;
}

.calltoaction {
    padding-left: 15%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media only screen and (max-width: 991px) {
    .statbox {
        max-width: 520px;
    }
}
