div.field {
    color: black;
    margin: auto;
    width: 50%;
}

.labeltag {
    color: white;
}

.submittag {
    float: right;
    margin: 20px 30px 1px 1px;
}

.submittagRegister {
    float: right;
    margin: 1px 17px 1px 1px;
}
